@model MyLibrary.DataAccess.User

@{
    ViewData["Title"] = "Quản lý sản phẩm";
}

<div class="page-heading">
    <div class="page-title">
        <div class="row">
            <div class="col-12 col-md-6 order-md-1 order-last">
                <h3>@ViewData["Title"]</h3>
            </div>
            <div class="col-12 col-md-6 order-md-2 order-first d-flex justify-content-end align-items-end">
                <nav aria-label="breadcrumb" class="breadcrumb-header float-start float-lg-end">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a asp-controller="Home">
                                <p class="text-light-primary">Bảng tin</p>
                            </a></li>
                        <li class="breadcrumb-item text-dark active" aria-current="page">@ViewData["Title"]</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<div class="page-content">
    <div class="card">
        <div class="card-header">
            <button type="button" class="btn btn-create-user btn-primary me-2" data-bs-toggle="modal"
                data-bs-target="#createUserModal"><i class="bi bi-plus"></i>Thêm</button>
            <button type="button" class="btn btn-danger btn-removes d-none"><i class="bi bi-trash"></i>
                Xóa
            </button>
        </div>
        <div class="card-body">
            <form method="post" id="batch-form">
                <div class="table-resposive">
                    <table class="table table-hover" id="data-table">
                        <thead>
                            <tr>
                                <th>
                                    <input type="checkbox" class="form-check-input cursor-pointer all-choices">
                                </th>
                                <th>Id</th>
                                <th>Tên</th>
                                <th>Email</th>
                                <th>Phone</th>
                                <th>Phân quyền</th>
                                <th></th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            const table = $('#data-table').DataTable({
                processing: true,
                serverSide: true,
                ajax: {
                    url: `/User/Load`,
                    error: function (err) {
                        if (err.status == 401 || err.status == 419) {
                            console.warn(err.responseJSON.errors);
                            window.location.href = "/Login/Index";
                        } else {
                            console.log('Error:', err);
                            swal(`{{ __("ĐÃ CÓ LỖI XẢY RA!") }}`, err.responseJSON.$message, 'error');
                        }
                    },
                },
                columns: [{
                    data: 'checkbox',
                    name: 'checkbox'
                }, {
                    data: 'id',
                    name: 'id'
                }, {
                    data: 'name',
                    name: 'name'
                }, {
                    data: 'email',
                    name: 'email'
                }, {
                    data: 'phone',
                    name: 'phone'
                }, {
                    data: 'role_id',
                    name: 'role_id'
                }, {
                    data: 'action',
                    name: 'action'
                },
                ],
                language: {
                    "sProcessing": "Đang xử lý...",
                    "sLengthMenu": "_MENU_   dòng / trang",
                    "sZeroRecords": "Nội dung trong.",
                    "sInfo": "Từ _START_ đến _END_ của _TOTAL_ mục",
                    "sInfoEmpty": "Không có mục nào",
                    "sInfoFiltered": "(được lọc từ _MAX_ mục)",
                    'searchPlaceholder': "Tìm kiếm dữ liệu",
                    "sInfoPostFix": "",
                    "sSearch": "",
                    "sUrl": "",
                    "oPaginate": {
                        "sFirst": "&laquo;",
                        "sPrevious": "&lsaquo;",
                        "sNext": "&rsaquo;",
                        "sLast": "&raquo;",
                    },
                },
                columnDefs: [{
                    target: 0,
                    sortable: false,
                    searchable: false,
                }]

            })

            $(document).ready(function () {
                // Bắt sự kiện khi nhấn nút "Thêm"
                $(".btn-create-user").click(function (e) {
                    e.preventDefault();
                    $("#createUserModal").modal("show");
                });

                // Sự kiện khi modal được hiển thị
                $('#createUserModal').on('show.bs.modal', function (e) {
                    // Reset form và thông báo lỗi khi modal được hiển thị
                    $("#createUserForm")[0].reset();
                    $("#errorMessagesName").html("");
                    $("#errorMessagesEmail").html("");
                    $("#errorMessagesPhone").html("");
                    $("#errorMessagesPassword").html("");
                    $("#errorMessagesRole").html("");

                });

                // Gửi yêu cầu tạo mới User khi nhấn nút "Tạo" trong modal
                $("#createUserForm").submit(function (e) {
                    e.preventDefault();
                    $.ajax({
                        url: '/User/Create',
                        method: 'POST',
                        data: $(this).serialize(),
                        success: function (response) {
                            if (response.success) {
                                // Xử lý khi tạo người dùng thành công
                                $("#createUserModal").modal("hide");
                                // Thực hiện các hành động cần thiết sau khi tạo thành công
                            } else {
                                // Hiển thị thông báo lỗi trong modal
                                var errorsHtml = "";
                                $.each(response.errors, function (key, value) {
                                    errorsHtml = "<span>" + value + "</span>";
                                    console.log(value)
                                    if (key == "0") {
                                        $("#errorMessagesName").html(errorsHtml);
                                    } else if (key == "1") {
                                        $("#errorMessagesEmail").html(errorsHtml);
                                    } else if (key == "2") {
                                        $("#errorMessagesPhone").html(errorsHtml);
                                    } else if (key == "3") {
                                        $("#errorMessagesPassword").html(errorsHtml);
                                    } else {
                                        $("#errorMessagesRole").html(errorsHtml);
                                    }
                                });
                            }
                        },
                        error: function (xhr, status, error) {
                            // Xử lý lỗi nếu có
                        }
                    });
                });
            });


            $(document).on('click', '.btn-update-user', function (e) {
                e.preventDefault();
                const form = $('#editUserForm'); // Sử dụng ID của form chỉnh sửa
                let id = $(this).attr("data-id");
                $.ajax({
                    url: '/User/Edit/' + id,
                    type: 'GET',
                    dataType: 'json',
                    success: function (data) {
                        console.log(data.id, data);
                        form.find('[name=Id]').val(data.id);
                        form.find('[name=Name]').val(data.name);
                        form.find('[name=Email]').val(data.email);
                        form.find('[name=Phone]').val(data.phone);
                        form.find('[name=RoleId]').val(data.roleId);
                        $('#userEditModal').modal('show'); // Sử dụng ID của modal chỉnh sửa
                    },
                    error: function (xhr, status, error) {
                        console.error(error);
                    }
                });
            });

        })
    </script>

}

<div class="modal fade" id="createUserModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="createUserModalLabel">Tạo tài khoản</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form asp-action="Create" method="post" id="createUserForm" class="save-form">
                    <div class="mb-3">
                        <label for="name" class="form-label fw-bold">Tên người dùng</label>
                        <input type="text" class="form-control" id="name" name="Name" placeholder="Nhập tên người dùng">
                        <span id="errorMessagesName" asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label for="email" class="form-label fw-bold">Email</label>
                        <input type="email" class="form-control" id="email" name="Email" placeholder="Nhập email">
                        <span id="errorMessagesEmail" asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label for="phone" class="form-label fw-bold">Số điện thoại</label>
                        <input type="text" class="form-control" id="phone" name="Phone"
                            placeholder="Nhập số điện thoại">
                        <span id="errorMessagesPhone" asp-validation-for="Phone" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label fw-bold">Mật khẩu</label>
                        <input type="password" class="form-control" id="password" name="Password"
                            placeholder="Nhập mật khẩu">
                        <span id="errorMessagesPassword" asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label for="roleId" class="form-label fw-bold">Vai trò</label>
                        <select class="form-select form-select-sm" id="roleId" aria-label="Small select example"
                            name="RoleId">
                            <option value="0" selected>Chọn một vai trò</option>
                            @foreach (var role in ViewBag.Roles)
                            {
                                <option value="@role.Id">@role.Name</option>
                            }
                            <span id="errorMessagesRole" asp-validation-for="RoleId" class="text-danger"></span>
                        </select>
                    </div>
                    <div class="d-flex justify-content-end">
                        <button type="submit" class="btn btn-primary px-4">Tạo</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="userEditModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="userEditModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="userEditModalLabel">Cập nhật tài khoản</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form asp-action="Edit" method="post" id="editUserForm">
                    <input type="hidden" id="Id" name="Id" />
                    <div class="mb-3">
                        <label for="editName" class="form-label fw-bold">Tên người dùng</label>
                        <input type="text" class="form-control" id="editName" name="Name"
                            placeholder="Nhập tên người dùng">
                    </div>
                    <div class="mb-3">
                        <label for="editEmail" class="form-label fw-bold">Email</label>
                        <input type="email" class="form-control" id="editEmail" name="Email" placeholder="Nhập email">
                    </div>
                    <div class="mb-3">
                        <label for="editPhone" class="form-label fw-bold">Số điện thoại</label>
                        <input type="text" class="form-control" id="editPhone" name="Phone"
                            placeholder="Nhập số điện thoại">
                    </div>
                    @* <div class="mb-3">
                    <label for="editPassword" class="form-label fw-bold">Mật khẩu</label>
                    <input type="password" class="form-control" id="editPassword" name="Password"
                    placeholder="Nhập mật khẩu">
                    </div> *@
                    <div class="mb-3">
                        <label for="role" class="form-label fw-bold">Vai trò</label>
                        <select class="form-select form-select-sm" id="role_id" aria-label="Small select example"
                            name="Role_id">
                            <option value="0" selected>Chọn một vai trò</option>
                            @foreach (var role in ViewBag.Roles)
                            {
                                <option value="@role.Id">@role.Name</option>
                            }
                            <span id="errorMessagesRole" asp-validation-for="RoleId" class="text-danger"></span>
                        </select>
                    </div>
                    <div class="d-flex justify-content-end">
                        <button type="submit" class="btn btn-primary">Cập nhật</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>