@model IEnumerable<MyLibrary.DataAccess.Table>

@{
    ViewData["Title"] = "Quản lý bàn";
}

<div class="page-heading">
    <div class="page-title">
        <div class="row">
            <div class="col-12 col-md-6 order-md-1 order-last">
                <h3>@ViewData["Title"]</h3>
            </div>
            <div class="col-12 col-md-6 order-md-2 order-first">
                <nav aria-label="breadcrumb" class="breadcrumb-header float-start float-lg-end">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Home">Bảng tin</a></li>
                        <li class="breadcrumb-item active" aria-current="page">@ViewData["Title"]</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<hr>
<div class="page-content">
    <div class="card p-4">
        <div class="card-header bg-white">
            <a asp-controller="Table" asp-action="Create" type="button" class="btn btn-primary me-2"><i
                    class="bi bi-plus-circle-dotted"></i>Thêm</a>
            <button type="button" class="btn btn-remove-table btn-danger d-none" id="btn-remove-tables"> <i
                    class="icon-mid bi bi-trash"></i> Xóa</button>
        </div>
        <div class="card-body">
            <form id="batch-form" asp-action="Delete" method="post">
                <div class="table-responsive">
                    <table class="table table-hover" id="data-table">
                        <thead>
                            <tr>
                                <th>
                                    <input class="form-check-input" type="checkbox" id="all-choices">
                                </th>
                                <th>ID</th>
                                <th>Tên bàn</th>
                                <th>Khu vực</th>
                                <th>Ghi chú</th>
                                <th>Status</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var table in Model)
                            {
                                <tr>
                                    <td><input asp-class="form-check-input choice" type="checkbox" name="selectedIds"
                                            value="@table.Id"></td>
                                    <td class="tableId">@table.Id</td>
                                    <td>
                                        <a asp-controller="Table" asp-action="Edit" asp-route-id="@table.Id"
                                            style="cursor: pointer;" class="btn-update-table"
                                            data-bs-target="#edittableModal" data-id="@table.Id">@table.Name</a>
                                    </td>
                                    <td>@table.Area</td>
                                    <td>@table.Note</td>
                                    <td>
                                        @if (table.Status == 1)
                                        {
                                            <span>Có khách</span>
                                        }
                                        else
                                        {
                                            <span>Trống</span>
                                        }
                                    </td>

                                    <td>
                                        <form action="/Table/Delete" method="POST" class="save-form">
                                            <input type="hidden" name="id" value="@table.Id" data-id=" @table.Id" />
                                            <button type="button" class="btn btn-link text-decoration-none btn-remove">
                                                <i class="bi bi-trash3"></i></button>
                                        </form>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <!-- Data table link-->
    <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.7.1.js"></script>d
    <script>
        $(document).ready(function () {
            $('#data-table').DataTable({
                "language": {
                    "sProcessing": "Đang xử lý...",
                    "sLengthMenu": "_MENU_ dòng /  trang",
                    "emptyTable": "Không có dữ liệu",
                    "sZeroRecords": "Không có kết quả nào được tìm thấy",
                    "sInfo": "Hiển thị từ _START_ đến _END_ của _TOTAL_ mục",
                    "sInfoEmpty": "Hiển thị từ 0 đến 0 của 0 mục",
                    "sInfoFiltered": "(đã lọc từ _MAX_ mục)",
                    "sInfoPostFix": "",
                    "sSearch": "Tìm kiếm:",
                    "sUrl": "",
                    "oPaginate": {
                        "sFirst": "&laquo;",
                        "sLast": "&raquo;",
                        "sNext": "&rsaquo;",
                        "sPrevious": "&lsaquo;"
                    },
                    columnDefs: [{
                        target: [0, 6],
                        sortable: false,
                        searchable: false,
                    }],
                    lengthMenu: [[5, 10, 15, -1], [5, 10, 15, "Tất cả"]]
                }
            });
        });
    </script>
}
