@model MyLibrary.DataAccess.User
@{
    ViewData["Title"] = "Đổi mật khẩu";
}
<div class="container pt-4 px-3 pb-5">
    <h1>Đổi mật khẩu</h1>
    <hr>
    <div class="row justify-content-center mt-5">
        <div class="col-12 col-md-6 bg-white rounded-4 p-5">
            <form asp-controller="Profile" asp-action="ChangePassword" method="post">
                <div class="row form-group mt-1">
                    <div class="col-md-4 col-12">
                        <label for="oldPassword" class="form-label fw-bold">Mật khẩu hiện tại</label>
                    </div>
                    <div class="col-md-8 col-12">
                        <input type="password" class="form-control" name="Password"
                            value="@ViewData["PasswordValue"]" />
                        <span class="text-danger">
                            @ViewData["oldPassword"]
                        </span>
                        <span class="text-danger">
                            @ViewData["allPassword"]
                        </span>
                    </div>
                </div>
                <div class="row form-group mt-1">
                    <div class="col-md-4 col-12">
                        <label for="newPassword" class="form-label fw-bold">Mật khẩu mới</label>
                    </div>
                    <div class="col-md-8 col-12">
                        <input type="password" class="form-control" name="newPassword"
                            value="@ViewData["newPasswordValue"]" />
                        <span class="text-danger">
                            @ViewData["newPassword"]
                        </span>
                        <span class="text-danger">
                            @ViewData["allPassword"]
                        </span>
                        <span class="text-danger">
                            @ViewData["ncPassword"]
                        </span>
                    </div>
                </div>
                <div class="row form-group mt-1" class="form-label fw-bold">
                    <div class="col-md-4 col-12">
                        <label for="confirmPassword" class="form-label fw-bold">Xác nhận lại mật khẩu</label>
                    </div>
                    <div class="col-md-8 col-12">
                        <input type="password" class="form-control" name="confirmPassword"
                            value="@ViewData["confirmPasswordValue"]" />

                        <span class="text-danger">
                            @ViewData["confirmPassword"]
                        </span>
                        <span class="text-danger">
                            @ViewData["allPassword"]
                        </span>
                        <span class="text-danger">
                            @ViewData["ncPassword"]
                        </span>
                    </div>
                </div>
                <div class="text-danger">
                    @ViewData["invalidPassword"]
                </div>
                <div class="text-danger">
                    @ViewData["checkOldPassword"]
                </div>
                <hr class="mt-4">
                <div class="d-flex justify-content-end">
                    <button type="submit" class="btn btn-primary">Xác nhận</button>
                </div>
            </form>
        </div>
    </div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
